
.form {
    display: block;
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
}

#form {
    font-weight: bold;
    font-family: sans-serif;
}

#form> form> button {
    margin: 10px;
    box-shadow: 0 2px 2px 0 black;
}

#endnav {
    margin: 10px;
}

.links {
    border-right: 1px solid black;
    padding-right: 5px;
}